@use "sass:math";

// Підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Функції
@import "_function.scss";
// Компоненти, сторінки
//@import "header.css";
// Компоненти, сторінки
//@import "_footer.scss";



body {
  font-size: toRem(16);
}

.wrapper {
  overflow: clip;
  min-height: 100%;

  display: flex; //прижимаем футер книзу
  flex-direction: column; //прижимаем футер книзу
}
.wrapper main {
  flex-grow: 1; //прижимаем футер книзу
}

// для усіх "__container" однаково
[class*="__container"] {
  	max-width: toRem(1250); /* 1220 + 15 + 15 */
	margin: 0 auto;
  /* 	max-width: #{$containerWidth}px; */
	padding-left: toRem(15);
	padding-right: toRem(15);
}

// REM - береться від глобального розміру шрифту
// EM - береться від поточного або
// успаткованого розміру шрифту

//SCSS основні стилі
.hero {
	content: '';
	background-image: url(../img/hero01.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	width: 100%;
	height: 100%;

  // .hero__text
  &__text {
    max-width: toRem(825);
	min-height: toRem(815);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: toRem(117);
	background-color: rgba(55, 57, 63, 0.91);
	backdrop-filter: blur toRem(9.5);

	@media (max-width: toEm(1200)) {
		padding: toRem(40);
		max-width: toRem(550);
		min-height: toRem(515);
	}
	@media (max-width: toEm(767)){
		max-width: toRem(415);
		min-height: toRem(415);
	}
	@media (max-width: toEm(450)){
		padding: toRem(45);
	}
	& > *:last-child {
		margin-bottom: toRem(0); //0px;
	  }
  }
  h2 {
    color: #ffffff;
    font-family: "Poppins";
	font-size: toRem(60);
	margin-bottom: toEm(20, 60);
    font-weight: 700;
    line-height: 120%;
	@media (max-width: toEm(1200)){
		font-size: toRem(40);
	}
	@media (max-width: toEm(767)){
		font-size: toRem(25);
	}
  }
  & span {
	color: #40DDB6;
	font-family: "Poppins";
  }
  // .hero__title
  &__title {
    color: #ffffff;
    font-family: "Inter";
    font-size: toRem(18); //18px;
	margin-bottom: toEm(10, 18); //10px от 18px размера шрифта;
    font-weight: 600;
    line-height: 146.187%;
	display: flex;
	gap: toRem(6);
	&::before {
		content: "";
		display: inline-block;
		width: toRem(12);
		height: toRem(12);
		flex: 0 0 toRem(12);
		background-color: #40DDB6;
		transform: translateY(toRem(6));
	}
  }

  // .hero__sub-title
  &__sub-title {
    color: #b9b9b9;
    font-family: "Inter";
    font-size: toRem(18); //18px;
	margin-bottom: toEm(18, 35); //35px;
    font-weight: 500;
    line-height: 146.187%;
	@media (max-width: toEm(767)){
		font-size: toRem(17); //18px;
	}
  }

  // .hero__button
  &__button {
    display: flex;
	margin-bottom: toRem(20); //20px;
	@media (max-width: toEm(767)){
		flex-direction: column;
		gap: toRem(20);
	}
  }

  // .hero__left
  &__left {
    padding: toRem(27, 21); //27px 21px;
    background-color: #40ddb6;
    color: #37393f;
    text-align: center;
    font-family: "Inter";
    font-size: toRem(18); //18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: toRem(30); //30px;
	transition: 0.4s;
	border: 1px solid transparent;
	&:hover {
		background-color: #ffffff31;
		color: #ffffff;
		border: 1px solid #40DDB6;
	}
  }

  // .hero__right
  &__right {
    color: #ffffff;
    text-align: center;
	align-items: center;
    font-family: "Inter";
    font-size: toRem(18); //18px;
    font-weight: 600;
    text-transform: capitalize;
	text-decoration: underline;
    display: flex;
    gap: toRem(10); //10px;
    &::before {
      content: "";
      display: inline-block;
      background-image: url(../img/hero02.svg);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: contain;
      width: toRem(60); //60px
      height: toRem(60); //60px
      flex: 0 0 toRem(60); //60px
    }
  }
}


//---------------------------------------------------------------------------------------------------
.welcome {
	padding: toRem(150) toRem(0) toRem(50);		//другий toRem(0) повторюється для обох сторін
	&__fon {
		background-color: #F4F4F4;
		max-width: toRem(825);
		min-height: toRem(983);
		margin-top: toRem(-150);
		@media(max-width:toEm(1200)){
			max-width: toRem(550);
			min-height: toRem(583);
			margin-top: toRem(150);
			background-color: transparent;
		}
		@media (max-width: toEm(767)){
			max-width: toRem(415);
		}

	}
	&__container {
		position: relative;
		z-index: 2;
		margin-top: toRem(-833);
		@media (max-width:toRem(450)){
			margin-top: toRem(-850);
		}
	}
	// .welcome__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width:toEm(992)){
			grid-template-columns: repeat(1, 1fr);
			gap: toRem(50);
		}
	}

	// .welcome__left
	&__left {
		max-width: toRem(400);
		@media (max-width:toEm(992)) {
			max-width: toRem(950);
		}
		& > *:last-child {
			margin-bottom: toEm(0);
		}
	}

	// .welcome__img
	&__img {
		margin-bottom: toRem(19);
	}
	&__img img{
		width: 100%;
		height: 100%;
		aspect-ratio: 410 / 466;
		@media (max-width:toEm(430)){
			aspect-ratio: 210 / 226;
		}
	}

	// .welcome__title
	&__title {
		color: #37393F;
		font-family: 'Poppins';
		font-size: toRem(30);
		margin-bottom: toEm(13, 30);
		font-weight: 600;
		line-height: 121%;
		@media (max-width:toRem(430)){
			font-size: toRem(22);
		}
	}

	// .welcome__sub-title
	&__sub-title {
		color: #7D7D7D;
		font-family: 'Inter';
		font-size: toRem(18);
		margin-bottom: toEm(15);
		font-weight: 400;
		line-height: 146.187%;
		@media (max-width:toRem(430)){
			font-size: toRem(16);
		}
	}

	// .welcome__button
	&__button{
		color: #37393F;
		text-align: center;
		font-family: 'Inter';
		font-size: toRem(18);
		margin-bottom: toEm(10, 18);
		font-weight: 600;
		line-height: 122%;
		text-transform: capitalize;
		transition: 0.4s;
		&:hover {
			color: #6B77E5;
			text-decoration: underline;
		}
	}
}
.right {
	& > *:last-child {
		margin-bottom: toRem(0);
	}
		// .right__button
		&__button {
			display: inline-block;
			padding: toRem(21) toRem(27);
			color: #FFF;
			text-align: center;
			font-family: 'Inter';
			font-size: toRem(18);
			margin-bottom: toRem(10, 18);
			font-weight: 600;
			line-height: normal;
			text-transform: capitalize;
			background-color: #6B77E5;
			border: toRem(1) solid transparent;
			transition: 0.5s;
			&:hover {
				background-color: transparent;
				border: toRem(1) solid #6B77E5;
				color: #6B77E5;
			}
		}
	& h2 {
		color: #37393F;
		font-family: 'Poppins';
		font-size: toRem(40);
		margin-bottom: toEm(20, 40);
		font-weight: 700;
		line-height: 121%; /* 48.4px */
		@media (max-width:toEm(640)){
			font-size: toRem(30);
		}
		@media (max-width:toEm(380)){
			font-size: toRem(25);
		}
	}

	// .right__title
	&__title {
		color: #37393F;
		font-family: 'Inter';
		font-size: 18px;
		margin-bottom: toEm(16, 18);
		font-weight: 500;
		line-height: 122%;
		display: flex;
		gap: toRem(6);
		&::before {
			content: "";
			display: inline-block;
			width: toRem(12);
			height: toRem(12);
			flex: 0 0 toRem(12);
			background-color: #40DDB6;
			transform: translateY(toRem(3));
		}
	}

	// .right__sub-title
	&__sub-title {
		color: #7D7D7D;
		font-family: 'Inter';
		font-size: toRem(18);
		margin-bottom: toEm(20, 18);
		font-weight: 400;
		line-height: 146.187%; /* 26.314px */
		& > *:not(:last-child) {
			margin-bottom: toEm(15);
		}
	}

	// .right__list
	&__list {
		margin-bottom: toEm(43);
	}

	// .right__link
	&__link {
		color: #37393F;
		font-family: 'Poppins';
		font-size: toRem(20);
		margin-bottom: toEm(23, 20);
		line-height: normal;
		display: flex;
		gap: toRem(8);
		&::before {
			content: "";
			display: inline-block;
			width: toRem(27);
			height: toRem(27);
			flex: 0 0 toRem(27);
			background-image: url(../img/Vector01.svg);
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: contain;
			transform: translateY(toRem(2));
			border: toRem(1) solid transparent;
			border-radius: 50%;
			transition: 0.4s;
			@media (max-width:toEm(640)){
				width: toRem(20);
				height: toRem(20);
				flex: 0 0 toRem(20);
				transform: translateY(toRem(5));
			}
		}
		&:hover::before {
			border: toRem(1) solid #40DDB6;
			transform: translateY(5px);
		}
		@media (max-width:toEm(640)){
			font-size: toRem(18);
		}
	}

	// .right__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(21);
		margin-bottom: toEm(37, 21);
		@media (max-width:toRem(1235)){
			grid-template-columns: repeat(1, 1fr);
			gap: toRem(10);
		}
	}

	// .right__item
	&__item {
		display: flex;
		border: 1px solid #E3E3E3;
		&:nth-child(1) {
			padding: toRem(32) toRem(31);
		}
		&:nth-child(2) {
			padding: toRem(37) toRem(32);
		}
	}	
	&__icon {
		transform: translateY(toRem(5));
		margin-right: toRem(19);

	}
		& h3 {
			color: #37393F;
			font-family: 'Poppins';
			font-size: toRem(20);
			margin-bottom: toEm(5, 20);
			font-weight: 600;
			line-height: normal;
			gap: toRem(19);
		}
		& p {
			color: #7D7D7D;
			font-family: 'Inter';
			font-size: toRem(16);
			font-weight: 400;
			line-height: 135.187%; /* 21.63px */
		}
}


//-------------------------------------------------------------
.artical {
	padding: toRem(180) toRem(0) toRem(50);
	@media (max-width:toRem(1200)){
		padding: toRem(80) toRem(0) toRem(50);
	}	
	@media (max-width:toRem(650)){
		padding: toRem(50) toRem(0) toRem(50);
	}	
	// .artical__container
	&__container {
		text-align: center;
		align-items: center;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: toRem(115);
		@media (max-width:toRem(1300)){
			grid-template-columns: repeat(4, 1fr);
			column-gap: toRem(55);
			row-gap: toRem(30);
		}
		@media (max-width:toRem(992)){
			grid-template-columns: repeat(3, 1fr);
			row-gap: toRem(35);
		}
		@media (max-width:toRem(767)){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:toRem(600)){
			grid-template-columns: repeat(1, 1fr);
			row-gap: toRem(40);
		}
	}

	// .artical__img

	&__img {
		max-width: 100%;
	}
}



//-----------------------------------------------------------------
.provide {
	padding: toRem(30) toRem(0) toRem(50);
	& h2 {
		color: #37393F;
		font-family: 'Inter';
		font-size: toRem(18);
		margin-bottom: toEm(16, 18);
		font-weight: 500;
		line-height: normal;
		text-align: center;
		justify-content: center;
		display: flex;
		gap: toRem(6);
		&::before {
			content: "";
			display: inline-block;
			width: toRem(12);
			height: toRem(12);
			flex: 0 0 toRem(12);
			background-color: #40DDB6;
			transform: translateY(toRem(4));
		}
	}
	& h3 {
		color: #37393F;
		text-align: center;
		font-family: 'Poppins';
		font-size: toRem(40);
		margin-bottom: toEm(40, 40);
		font-weight: 700;
		line-height: 124%;
		@media (max-width:toEm(767)){
			font-size: toRem(30);
		}
		@media (max-width:toEm(410)){
			font-size: toRem(25);
		}
	}

	// .provide__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: toRem(32);
		row-gap: toRem(27);
		@media (max-width:toEm(1300)){
			grid-template-columns: repeat(2, 1fr);
			row-gap: toRem(25);
		}
		@media (max-width:toEm(815)){
			grid-template-columns: repeat(1, 1fr);
			row-gap: toRem(20);
		}
	}

	// .provide__item
	&__item {
		padding: toRem(30);
		background-color: #F4F4F4;;
		& > *:last-child {
			margin-bottom: toEm(0);
		}
	
		&--6 {
			background-color: #6B77E5;;
			padding: toRem(72) toRem(106);
			color: #FFF;
			font-family: 'Inter';
			font-size: toRem(20);
			font-weight: 600;
			line-height: 122%;
			text-transform: capitalize;
			text-align: center;
			display: flex;
			justify-content: center;
			transition: 0.4s;
			&:hover {
				background-color: #40ddb6;
			}
		}
	}

	//__content
	&__content {
		display: flex;
		justify-content: space-between;
	}
	// .provide__name
	&__name {
		color: #37393F;
		font-family: 'Poppins';
		font-size: toRem(25);
		margin-bottom: toEm(27, 25);
		font-style: normal;
		font-weight: 600;
		line-height: 127%; /* 31.75px */
		max-width: toRem(240);
		@media (max-width:toEm(410)){
			font-size: toRem(20);
		}
	}

	// .provide__icon
	&__icon img{
		max-width: 100%;
		transition: 0.4s;
		border: toRem(1) solid transparent;
		border-radius: 50%;
		&:hover {
			transform: translateY(toRem(5));
			border: toRem(1) solid #6B77E5;
		}
	}

	// .provide__button
	&__button {
		color: #6B77E5;
		font-family: 'Inter';
		font-size: toRem(18);
		margin-bottom: toEm(5);
		font-weight: 600;
		line-height: 122%;
		text-transform: capitalize;
		transition: 0.4s;
		&:hover {
			color: #40DDB6;
		}
	}
}



//-----------------------------------------------------------------------------------
.why {
	padding: toRem(86) toRem(0) toRem(50);
	background: url(../img/Background.webp) left no-repeat, url(../img/Background02.webp) right no-repeat;
	@media (max-width:toEm(540)){
		padding: toRem(30) toRem(0) toRem(30);
	}
	// .why__container
	&__container {
		max-width: toEm(610);		//610+92+92
		margin-left: toRem(330);
		@media (max-width:toEm(1200)){
			margin-left: toRem(230);
		}
		@media (max-width:toEm(992)){
			margin-left: toRem(100);
		}
		@media (max-width:toEm(767)){
			margin-left: toRem(10);
		}
	}

	// .why__text
	&__text {
		& h3 {
			color: #FFF;
			font-family: 'Inter';
			font-size: toRem(18);
			margin-bottom: toEm(13, 18);
			font-weight: 500;
			line-height: 122%;
			display: flex;
			gap: toRem(8);
			&::before {
				content: "";
				display: inline-block;
				width: toRem(12);
				height: toRem(12);
				flex: 0 0 toRem(12);
				background-color: #40DDB6;
				transform: translateY(toRem(4));
			}
			@media (max-width:toEm(540)){
				font-size: toRem(16);
			}
		}
	}

	// .why__title
	&__title {
		color: #FFF;
		font-family: 'Poppins';
		font-size: toRem(30);
		margin-bottom: toEm(13, 30);
		font-weight: 600;
		line-height: 124%;
		@media (max-width:toEm(540)){
			font-size: toRem(25);
		}
	}

	// .why__sub-title
	&__sub-title {
		color: #FFF;
		font-family: 'Inter';
		font-size: toRem(18);
		margin-bottom: toEm(36, 18);
		line-height: 146.187%; /* 26.314px */
		@media (max-width:toEm(540)){
			font-size: toRem(16);
		}
	}

	// .why__cards			//cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(15);
		margin-bottom: toEm(36);
		@media (max-width:toEm(767)){
			grid-template-columns: repeat(1, 1fr);
		}
		@media (max-width:toEm(540)){
			margin-bottom: toEm(20);
		}
	}

	// .why__item			//card
	&__item {
		padding: toRem(30) toRem(27);
		background-color: #2E2F34;
		display: flex;
		@media (max-width:toEm(540)){
			padding: toRem(17) toRem(20);
		}
	}

	// .why__img
	&__img img{
		max-width: 100%;
	}


	// .why__body			//link
	&__body {
		margin-left: toRem(12);
		padding: toRem(15) toRem(0);
		& > *:last-child {
			margin-bottom: toEm(0);
		}
	}

	// .why__category
	&__category {
		color: #FFF;
		font-family: 'Inter';
		font-size: toRem(16);
		margin-bottom: toEm(5, 16);
		font-weight: 400;
		line-height: 136%;
	}

	// .why__description
	&__description {
		color: #FFF;
		font-family: 'Poppins';
		font-size: toRem(18);
		margin-bottom: toEm(5, 18);
		font-weight: 600;
		line-height: 150%;
		@media (max-width:toEm(540)){
			font-size: toRem(16);
		}
	}

	// .why__content				//link
	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: toRem(37);
		row-gap: toRem(23);
		@media (max-width:toEm(540)){
			grid-template-columns: repeat(1, 1fr);
			row-gap: toRem(15);
		}
	}

	// .why__marcs
	&__marcs {
		& b {
			color: #FFF;
			font-family: 'Poppins';
			font-size: toRem(20);
			margin-bottom: toEm(5, 20);
			font-weight: 700;
			line-height: 165%;
			@media (max-width:toEm(540)){
				font-size: toRem(16);
			}
		}
		& p {
			color: #FFF;
			font-family: 'Poppins';
			font-size: toRem(20);
			margin-bottom: toEm(5, 20);
			line-height: 165%;
			@media (max-width:toEm(540)){
				font-size: toRem(18);
			}
		}
		& span {
			color: #FFB342;
			font-family: 'Poppins';
			font-size: toRem(20);
			margin-bottom: toEm(5, 20);
			line-height: 165%;
		}
	}

	// .why__button
	&__button {
		color: #40DDB6;
		text-align: center;
		font-family: 'Inter';
		font-size: toRem(18);
		font-weight: 600;
		line-height: 165%;
		text-transform: capitalize;
		text-decoration: underline;
		transition: 0.4s;
		&:hover {
			background-color: #6B77E5;;
		}
	}
}



//---------------------------------------------------------------------------
.project {
	padding: toRem(70) toRem(0) toRem(50);

	// .project__container

	&__container {
		& h2 {
			color: #37393F;
			font-family: 'Inter';
			font-size: toRem(18);
			margin-bottom: toEm(16, 18);
			font-weight: 500;
			display: flex;
			gap: toRem(6);
			&::before {
				content: "";
				display: inline-block;
				width: toRem(12);
				height: toRem(12);
				flex: 0 0 toRem(12);
				background-color: #40ddb6;
				transform: translateY(toRem(2));
			}
			@media (max-width:toEm(540)){
				font-size: toRem(16);
			}
		}
		& h3 {
			color: #37393F;
			font-family: 'Poppins';
			font-size: toRem(40);
			margin-bottom: toEm(40, 40);
			font-weight: 700;
			line-height: 121%; /* 48.4px */
			@media (max-width:toEm(767)){
				font-size: toRem(35);
			}
			@media (max-width:toEm(540)){
				font-size: toRem(25);
			}
		}
	}

	// .project__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: toRem(40);
		@media (max-width:toEm(992)){
			grid-template-columns: repeat(3, 1fr);
			row-gap: toRem(20);
		}
		@media (max-width:toEm(767)){
			grid-template-columns: repeat(2, 1fr);
			row-gap: toRem(20);
		}
		@media (max-width:toEm(540)){
			grid-template-columns: repeat(1, 1fr);
			row-gap: toRem(15);
		}
	}

	// .project__item
	&__item {
	}

	// .project__img
	&__img img{
		width: 100%;
		height: 100%;
		aspect-ratio: 437 / 501;
		object-fit: cover;
	}
}
